html {
  font-family: Helvetica;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
h4 {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
p {
  font-size: 14px;
}

.background-image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.background-image nav ul li {
  font-size: 23px;
  font-weight: bold;
  colour: white;
}

.background-color {
  background-color: dimgray;
}
.background-color nav ul li {
  display: inline;
  }
